# FIB Index

In [1]:
import numpy as np
import pandas as pd
import time

## Website reliability scores

In [2]:
newsguard_df = pd.read_csv("newsguard_scores.csv")

In [3]:
newsguard_df

,domain,score,rank,country,language,siteOnline,rating
0,nanotechnology.news,"{\n ""id"": ""3b4a397b-3b40-4ade-a3ef-46570431f8...",N,US,en,True,5.0
1,yorkshirepost.co.uk,"{\n ""id"": ""0f0c578e-f284-4e64-8e33-b2be2a0496...",T,GB,en,True,95.0
2,Davvero.tv,"{\n ""id"": ""d8977399-a4bb-4899-bce0-629bc25241...",TK,ALL,en,True,0.0
3,CDC.GOV,"{\n ""id"": ""129352e0-804d-4075-82fd-031795b555...",T,US,en,True,100.0
4,greenmedinfo.com,"{\n ""id"": ""3013a843-7f63-441b-9a9f-82b8f76298...",N,US,en,True,30.0
...,...,...,...,...,...,...,...
1689,washingtonpost.com,"{\n ""id"": ""24c12df9-9c52-4a96-8d89-6f36a4cf14...",T,US,en,True,100.0
1690,ilpiacenza.it,"{\n ""id"": ""33589389-e39a-4fd1-a281-bbb01d36ec...",T,ALL,en,True,82.5
1691,optimagazine.com,"{\n ""id"": ""fad1d60b-8ddb-4454-a57c-11dd81a6ae...",N,ALL,en,True,12.5
1692,reitschuster.de,"{\n ""id"": ""c4d70e2f-2a79-443d-9407-756b9a4f7f...",N,ALL,en,True,59.5
1693,Famigliacristiana.it,"{\n ""id"": ""20815bf4-dfd9-46fc-b675-3cbd02966a...",T,ALL,en,True,87.5

In [4]:
newsguard_df = newsguard_df["score"].tolist()

In [5]:
newsguard_df[0]

'{\n  "id": "3b4a397b-3b40-4ade-a3ef-46570431f8b0",\n  "identifier": "nanotechnology.news",\n  "identifierAlt": "naturalnews.com",\n  "rank": "N",\n  "healthGuard": true,\n  "country": "US",\n  "language": "en",\n  "labelToken": "7A6B81869A4A3E9301C19EAE9E2CCFD39841A95A396627C803AD87530B51A755103DB429E8E3F681E6C61C75A969F99206C3D92342911D40",\n  "groupName": "NaturalNews.com website network",\n  "notice": "ANY USE OF THIS API, INCLUDING COMMERCIAL, PERSONAL, OR RESEARCH USE, IS STRICTLY PROHIBITED WITHOUT A LICENSE. CONTACT SUPPORT@NEWSGUARDTECH.COM FOR LICENSING INFORMATION.",\n  "siteOnline": true,\n  "parent": "naturalnews.com",\n  "score": 5.0,\n  "topline": "A &nbsp;site that is part of a network of hundreds of domains associated with NaturalNews.com, republishing the same false articles on medical and non-medical topics. This is a review of the entire network.",\n  "criteria": [\n    {\n      "title": "ownership",\n      "body": "No",\n      "order": 0\n    },\n    {\n      "title": "management",\n      "body": "Yes",\n      "order": 0\n    },\n    {\n      "title": "newsOpinion",\n      "body": "No",\n      "order": 0\n    },\n    {\n      "title": "falseContent",\n      "body": "No",\n      "order": 0\n    },\n    {\n      "title": "basicStandards",\n      "body": "No",\n      "order": 0\n    },\n    {\n      "title": "contentCreators",\n      "body": "No",\n      "order": 0\n    },\n    {\n      "title": "labelsAdvertising",\n      "body": "No",\n      "order": 0\n    },\n    {\n      "title": "deceptiveHeadlines",\n      "body": "No",\n      "order": 0\n    },\n    {\n      "title": "accountabilityPractices",\n      "body": "No",\n      "order": 0\n    }\n  ],\n  "locale": ""\n}'

In [6]:
def format_dict(x):
    return x.replace("true", "True").replace("false", "False").replace("null", "None")
    
newsguard_df = [eval(format_dict(x)) for x in newsguard_df]

In [7]:
newsguard_df[0]

{'id': '3b4a397b-3b40-4ade-a3ef-46570431f8b0',
 'identifier': 'nanotechnology.news',
 'identifierAlt': 'naturalnews.com',
 'rank': 'N',
 'healthGuard': True,
 'country': 'US',
 'language': 'en',
 'labelToken': '7A6B81869A4A3E9301C19EAE9E2CCFD39841A95A396627C803AD87530B51A755103DB429E8E3F681E6C61C75A969F99206C3D92342911D40',
 'groupName': 'NaturalNews.com website network',
 'notice': 'ANY USE OF THIS API, INCLUDING COMMERCIAL, PERSONAL, OR RESEARCH USE, IS STRICTLY PROHIBITED WITHOUT A LICENSE. CONTACT SUPPORT@NEWSGUARDTECH.COM FOR LICENSING INFORMATION.',
 'siteOnline': True,
 'parent': 'naturalnews.com',
 'score': 5.0,
 'topline': 'A &nbsp;site that is part of a network of hundreds of domains associated with NaturalNews.com, republishing the same False articles on medical and non-medical topics. This is a review of the entire network.',
 'criteria': [{'title': 'ownership', 'body': 'No', 'order': 0},
  {'title': 'management', 'body': 'Yes', 'order': 0},
  {'title': 'newsOpinion', 'body': 'No', 'order': 0},
  {'title': 'FalseContent', 'body': 'No', 'order': 0},
  {'title': 'basicStandards', 'body': 'No', 'order': 0},
  {'title': 'contentCreators', 'body': 'No', 'order': 0},
  {'title': 'labelsAdvertising', 'body': 'No', 'order': 0},
  {'title': 'deceptiveHeadlines', 'body': 'No', 'order': 0},
  {'title': 'accountabilityPractices', 'body': 'No', 'order': 0}],
 'locale': ''}

In [8]:
newsguard_df = pd.DataFrame(newsguard_df)

In [9]:
newsguard_df = newsguard_df.drop(["id", "labelToken", "notice", "criteria", "language", "locale"], axis=1)

In [10]:
newsguard_df

,identifier,identifierAlt,rank,healthGuard,country,groupName,siteOnline,parent,score,topline
0,nanotechnology.news,naturalnews.com,N,True,US,NaturalNews.com website network,True,naturalnews.com,5.0,A &nbsp;site that is part of a network of hund...
1,yorkshirepost.co.uk,None,T,True,GB,None,True,None,95.0,"The website of the Yorkshire Post, a daily new..."
2,davvero.tv,None,TK,False,ALL,None,True,None,0.0,None
3,cdc.gov,cdc.gov,T,True,US,None,True,cdc.gov,100.0,The website for the U.S. Centers for Disease C...
4,greenmedinfo.com,greenmedinfo.com,N,True,US,None,True,greenmedinfo.com,30.0,A website that has promoted unproven cures for...
...,...,...,...,...,...,...,...,...,...,...
1689,washingtonpost.com,None,T,True,US,None,True,None,100.0,"The website for The Washington Post, a leading..."
1690,ilpiacenza.it,milanotoday.it,T,True,ALL,Citynews websites network,True,milanotoday.it,82.5,A network&nbsp;of approximately 50 local newsp...
1691,optimagazine.com,None,N,True,ALL,None,True,None,12.5,A digital magazine about music and pop culture...
1692,reitschuster.de,None,N,False,ALL,None,True,None,59.5,A news blog run by journalist Boris Reitschust...
1693,famigliacristiana.it,None,T,False,ALL,None,True,None,87.5,"The website of Famiglia Cristiana, a weekly Ca..."

## VaccinItaly Data

In [11]:
vaccinitaly_df = pd.read_csv("tweets_processed_1M.csv",
                             encoding="utf-8",
                             lineterminator='\n',
                             low_memory=False)

In [12]:
vaccinitaly_df

,id,user_id,user_screen_name,retweet_count,likes_count,user_mentions,urls,is_quote,is_reply,is_original,is_retweet,in_reply_to_status_id,retweeted_status_id,quoted_urls,quoted_status_id
0,1340465356964585474,398032197,AnnaMariaCastel,14,0,antonio_bordin;,NaN,0,0,0,1,NaN,1.340235e+18,NaN,NaN
1,1340465632177995776,1038231816,EdiGirolami,50,0,DarioBallini;,NaN,0,0,0,1,NaN,1.340372e+18,NaN,NaN
2,1340465924932063236,457762156,BosioFabrizio,279,0,ImolaOggi;,NaN,0,0,0,1,NaN,1.340309e+18,NaN,NaN
3,1340465989436268547,1312802310830125057,CarlottaMarche7,87,0,Gianmar26145917;,NaN,0,0,0,1,NaN,1.340392e+18,NaN,NaN
4,1340466102380457984,1030696837748060160,AssPiuE,2,0,piueuofficial;,NaN,0,0,0,1,NaN,1.340408e+18,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1345315570913304582,132592001,matt_2994,0,0,razorback7851;,NaN,0,1,0,0,1.345315e+18,NaN,NaN,NaN
999996,1345315573463457794,11540552,biif,0,0,cosimo7306;Adnkronos;,NaN,0,1,0,0,1.345289e+18,NaN,NaN,NaN
999997,1345315582598664198,2401375612,stefyste70,0,0,GagliardoneS;,NaN,0,0,0,1,NaN,1.344960e+18,NaN,NaN
999998,1345315588697108480,1326287164741742592,sgurzo76,0,0,fattoquotidiano;,NaN,0,1,0,0,1.345300e+18,NaN,NaN,NaN
999999,1345315589187915776,526692895,pinoalfredos,0,0,carlopaolofesta;,NaN,0,0,0,1,NaN,1.345308e+18,NaN,NaN

In [13]:
vaccinitaly_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 15 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   id                     1000000 non-null  int64
 1   user_id                1000000 non-null  int64
 2   user_screen_name       1000000 non-null  object
 3   retweet_count          1000000 non-null  int64
 4   likes_count            1000000 non-null  int64
 5   user_mentions          784537 non-null   object
 6   urls                   172552 non-null   object
 7   is_quote               1000000 non-null  int64
 8   is_reply               1000000 non-null  int64
 9   is_original            1000000 non-null  int64
 10  is_retweet             1000000 non-null  int64
 11  in_reply_to_status_id  144464 non-null   float64
 12  retweeted_status_id    535509 non-null   float64
 13  quoted_urls            58904 non-null    object
 14  quoted_status_id       154362 non-null   float64
dtypes: float64(3), int64(8), object(4)
memory usage: 114.4+ MB

In [14]:
ids_to_fix = ["in_reply_to_status_id", "retweeted_status_id", "quoted_status_id"]
vaccinitaly_df[ids_to_fix] = vaccinitaly_df[ids_to_fix].fillna(-1).astype(int)

In [15]:
vaccinitaly_df

,id,user_id,user_screen_name,retweet_count,likes_count,user_mentions,urls,is_quote,is_reply,is_original,is_retweet,in_reply_to_status_id,retweeted_status_id,quoted_urls,quoted_status_id
0,1340465356964585474,398032197,AnnaMariaCastel,14,0,antonio_bordin;,NaN,0,0,0,1,-1,1340235113280512000,NaN,-1
1,1340465632177995776,1038231816,EdiGirolami,50,0,DarioBallini;,NaN,0,0,0,1,-1,1340372051840950272,NaN,-1
2,1340465924932063236,457762156,BosioFabrizio,279,0,ImolaOggi;,NaN,0,0,0,1,-1,1340309122730893312,NaN,-1
3,1340465989436268547,1312802310830125057,CarlottaMarche7,87,0,Gianmar26145917;,NaN,0,0,0,1,-1,1340391589135454208,NaN,-1
4,1340466102380457984,1030696837748060160,AssPiuE,2,0,piueuofficial;,NaN,0,0,0,1,-1,1340408286730989568,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1345315570913304582,132592001,matt_2994,0,0,razorback7851;,NaN,0,1,0,0,1345314513705435136,-1,NaN,-1
999996,1345315573463457794,11540552,biif,0,0,cosimo7306;Adnkronos;,NaN,0,1,0,0,1345288804966477824,-1,NaN,-1
999997,1345315582598664198,2401375612,stefyste70,0,0,GagliardoneS;,NaN,0,0,0,1,-1,1344959652208009216,NaN,-1
999998,1345315588697108480,1326287164741742592,sgurzo76,0,0,fattoquotidiano;,NaN,0,1,0,0,1345300280074711040,-1,NaN,-1
999999,1345315589187915776,526692895,pinoalfredos,0,0,carlopaolofesta;,NaN,0,0,0,1,-1,1345308422527397888,NaN,-1

In [16]:
urls_to_fix = ["urls", "quoted_urls"]
vaccinitaly_df[urls_to_fix] = vaccinitaly_df[urls_to_fix].fillna("missing;")

In [17]:
vaccinitaly_df

,id,user_id,user_screen_name,retweet_count,likes_count,user_mentions,urls,is_quote,is_reply,is_original,is_retweet,in_reply_to_status_id,retweeted_status_id,quoted_urls,quoted_status_id
0,1340465356964585474,398032197,AnnaMariaCastel,14,0,antonio_bordin;,missing;,0,0,0,1,-1,1340235113280512000,missing;,-1
1,1340465632177995776,1038231816,EdiGirolami,50,0,DarioBallini;,missing;,0,0,0,1,-1,1340372051840950272,missing;,-1
2,1340465924932063236,457762156,BosioFabrizio,279,0,ImolaOggi;,missing;,0,0,0,1,-1,1340309122730893312,missing;,-1
3,1340465989436268547,1312802310830125057,CarlottaMarche7,87,0,Gianmar26145917;,missing;,0,0,0,1,-1,1340391589135454208,missing;,-1
4,1340466102380457984,1030696837748060160,AssPiuE,2,0,piueuofficial;,missing;,0,0,0,1,-1,1340408286730989568,missing;,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1345315570913304582,132592001,matt_2994,0,0,razorback7851;,missing;,0,1,0,0,1345314513705435136,-1,missing;,-1
999996,1345315573463457794,11540552,biif,0,0,cosimo7306;Adnkronos;,missing;,0,1,0,0,1345288804966477824,-1,missing;,-1
999997,1345315582598664198,2401375612,stefyste70,0,0,GagliardoneS;,missing;,0,0,0,1,-1,1344959652208009216,missing;,-1
999998,1345315588697108480,1326287164741742592,sgurzo76,0,0,fattoquotidiano;,missing;,0,1,0,0,1345300280074711040,-1,missing;,-1
999999,1345315589187915776,526692895,pinoalfredos,0,0,carlopaolofesta;,missing;,0,0,0,1,-1,1345308422527397888,missing;,-1

In [18]:
vaccinitaly_df["all_urls"] = vaccinitaly_df["urls"] + vaccinitaly_df["quoted_urls"]

In [19]:
vaccinitaly_df.drop(urls_to_fix, axis=1, inplace=True)

In [20]:
# Turn the urls column in a scores column

In [21]:
#url = 'milanotoday.it' # 'imolaoggi.it'
#newsguard_df.query(f"identifier=='{url}' | identifierAlt=='{url}'")["score"].values[0]

In [22]:
# Takes a string of URLs like "http://www.donald.com;www.tree.ch;https://nemo.it"
# preprocess extracting top level domain name and return a score for eahc
# missing URLs are handled
def urls_scorer(urls):
    # Urls is a string with items divided by ;
    l = []
    for x in urls.split(";"):
        try:
            l.append(x.split("/")[2].replace("www.", "").lower())
        except IndexError:
            pass
    
    scores = [-1]
    for url in l:
        try:
            score = newsguard_df.query(f"identifier=='{url}' | identifierAlt=='{url}'")["score"].values[0]
            scores.append(score)
        except IndexError: # Not in newsguard df
            continue

    return max(scores) # Here max of the scores is used (replace with any aggregation function like avg or other).

In [23]:
# WARNING: Very Slow. Bottleneck. (NOTE: try a parallel implementation with dask?)

tic = time.perf_counter()
vaccinitaly_df["score"] = vaccinitaly_df["all_urls"].apply(urls_scorer)
toc = time.perf_counter()

print(f"Processed: {len(vaccinitaly_df.index)} items in: {round(toc-tic, 4)} seconds.")

Processed: 1000000 items in: 124.208 seconds.

##### Notes:
- Mac M1: 'Processed: 1000000 items in: 124.208 seconds.'

In [24]:
vaccinitaly_df

,id,user_id,user_screen_name,retweet_count,likes_count,user_mentions,is_quote,is_reply,is_original,is_retweet,in_reply_to_status_id,retweeted_status_id,quoted_status_id,all_urls,score
0,1340465356964585474,398032197,AnnaMariaCastel,14,0,antonio_bordin;,0,0,0,1,-1,1340235113280512000,-1,missing;missing;,-1.0
1,1340465632177995776,1038231816,EdiGirolami,50,0,DarioBallini;,0,0,0,1,-1,1340372051840950272,-1,missing;missing;,-1.0
2,1340465924932063236,457762156,BosioFabrizio,279,0,ImolaOggi;,0,0,0,1,-1,1340309122730893312,-1,missing;missing;,-1.0
3,1340465989436268547,1312802310830125057,CarlottaMarche7,87,0,Gianmar26145917;,0,0,0,1,-1,1340391589135454208,-1,missing;missing;,-1.0
4,1340466102380457984,1030696837748060160,AssPiuE,2,0,piueuofficial;,0,0,0,1,-1,1340408286730989568,-1,missing;missing;,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1345315570913304582,132592001,matt_2994,0,0,razorback7851;,0,1,0,0,1345314513705435136,-1,-1,missing;missing;,-1.0
999996,1345315573463457794,11540552,biif,0,0,cosimo7306;Adnkronos;,0,1,0,0,1345288804966477824,-1,-1,missing;missing;,-1.0
999997,1345315582598664198,2401375612,stefyste70,0,0,GagliardoneS;,0,0,0,1,-1,1344959652208009216,-1,missing;missing;,-1.0
999998,1345315588697108480,1326287164741742592,sgurzo76,0,0,fattoquotidiano;,0,1,0,0,1345300280074711040,-1,-1,missing;missing;,-1.0
999999,1345315589187915776,526692895,pinoalfredos,0,0,carlopaolofesta;,0,0,0,1,-1,1345308422527397888,-1,missing;missing;,-1.0

In [25]:
# Usable dataset
dataset_df = vaccinitaly_df.loc[vaccinitaly_df["score"] > -1]

In [26]:
dataset_df

,id,user_id,user_screen_name,retweet_count,likes_count,user_mentions,is_quote,is_reply,is_original,is_retweet,in_reply_to_status_id,retweeted_status_id,quoted_status_id,all_urls,score
5,1340466213240135682,1043948268932214786,Ussignur_,7,17,maxdantoni;,0,1,0,0,1340457454975524864,-1,-1,https://www.bmj.com/content/371/bmj.m4857;miss...,100.0
7,1340466401111388162,1267671279718535174,Treese09543560,0,0,NaN,1,0,0,0,-1,-1,1202520353836347392,https://twitter.com/PrevGenocide/status/120252...,92.5
28,1340468299025551360,497188910,Rosskitty77,4,0,Pedrito_ElDrito;GagliardoneS;amnesia96225614;,0,0,0,1,-1,1340325850378592512,-1,https://www.affaritaliani.it/coronavirus/vacci...,64.5
35,1340468728534884354,924336025387913221,real_fabristol,0,0,LaStampa;,0,0,1,0,-1,-1,-1,https://www.lastampa.it/topnews/primo-piano/20...,95.0
50,1340470964728033281,475234937,valy_s,27,71,NaN,1,0,0,0,-1,-1,1340466213240135680,https://twitter.com/ussignur_/status/134046621...,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999971,1345315473051840512,317671787,infoitinterno,0,0,NaN,0,0,1,0,-1,-1,-1,https://www.informazione.it/a/AE4E56EF-9AD9-40...,70.0
999973,1345315476973494272,317671787,infoitinterno,0,0,NaN,0,0,1,0,-1,-1,-1,https://www.informazione.it/a/2C868C00-BD85-42...,70.0
999974,1345315477485187073,317671787,infoitinterno,0,0,NaN,0,0,1,0,-1,-1,-1,https://www.informazione.it/a/DC46B70F-4604-4C...,70.0
999978,1345315493813641221,576372470,guidomanfre,0,0,emenietti;ilpost;,0,0,0,1,-1,1345300371669995520,-1,https://www.ilpost.it/2021/01/02/dubbi-vaccino...,92.5
999993,1345315566568005632,483393825,elis_milani,0,0,NaN,1,0,0,0,-1,-1,1345177413974691840,missing;https://www.byoblu.com/2021/01/02/heat...,25.0

In [27]:
print("Unique users:", dataset_df["user_id"].unique().size)

Unique users: 23650

In [28]:
dataset_df.columns

Index(['id', 'user_id', 'user_screen_name', 'retweet_count', 'likes_count',
       'user_mentions', 'is_quote', 'is_reply', 'is_original', 'is_retweet',
       'in_reply_to_status_id', 'retweeted_status_id', 'quoted_status_id',
       'all_urls', 'score'],
      dtype='object')

In [29]:
# Prepare the dataset (function accept list of tuples or generators)
# content_id, author_id, parent_id, interactions_count, is_misinfected
features1 = ["id", "user_id", "retweeted_status_id", "retweet_count", "score"]
#features2 = ["id", "user_id", "retweeted_status_id", "likes_count", "score"]

dataset_fibi_df = dataset_df[features1]

dataset_fibi_df

,id,user_id,retweeted_status_id,retweet_count,score
5,1340466213240135682,1043948268932214786,-1,7,100.0
7,1340466401111388162,1267671279718535174,-1,0,92.5
28,1340468299025551360,497188910,1340325850378592512,4,64.5
35,1340468728534884354,924336025387913221,-1,0,95.0
50,1340470964728033281,475234937,-1,27,100.0
...,...,...,...,...,...
999971,1345315473051840512,317671787,-1,0,70.0
999973,1345315476973494272,317671787,-1,0,70.0
999974,1345315477485187073,317671787,-1,0,70.0
999978,1345315493813641221,576372470,1345300371669995520,0,92.5
999993,1345315566568005632,483393825,-1,0,25.0

In [30]:
# Import the custom FIB evaluation function
from importlib import reload
import fibi
from fibi import eval_FIB_index
reload(fibi) # This allow to change code without restarting the notebook's kernel.

misin_thr = 65
tweets = dataset_fibi_df.itertuples(index=False, name=None)

tic = time.perf_counter()
fibi_results = eval_FIB_index(tweets, misin_thr=misin_thr)
toc = time.perf_counter()
print(f"Processed {len(dataset_fibi_df.index)} tweets in {round(toc-tic, 4)} seconds.")

Processed 94160 tweets in 0.0306 seconds.

In [31]:
# Print the top-k
K = 10
[print(k, v) for k, v in sorted(fibi_results.items(), key=lambda x: x[1], reverse=True)[:K]];

1683455144 15
1032615842 14
555300363 11
401507232 6
934466103090270208 6
140032760 5
1180638921946025985 5
792793865489117184 5
1109447689333293057 5
3327831430 5

In [32]:
## NOTE:
# Alcuni short url nei tweet non sono stati espansi

In [33]:
scores_df = pd.DataFrame({"User_ID": [k for k in fibi_results.keys()],
                          "FIB-index": [v for v in fibi_results.values()]}).set_index("User_ID")

In [34]:
top_k_df = scores_df.sort_values("FIB-index", ascending=False).head(K)

In [35]:
top_k_df

                     FIB-index
User_ID
1683455144                  15
1032615842                  14
555300363                   11
934466103090270208           6
401507232                    6
500882938                    5
792793865489117184           5
1180638921946025985          5
140032760                    5
3327831430                   5

In [36]:
# Resolve user IDs
resolved_df = vaccinitaly_df[["user_id", "user_screen_name"]].join(top_k_df, on="user_id", how='right')
resolved_df.drop_duplicates()

                   user_id user_screen_name  FIB-index
3500            1683455144        ImolaOggi         15
1425            1032615842        a_meluzzi         14
603              555300363        PonytaEle         11
1297    934466103090270208     EffettoFrank          6
1667             401507232       MaMaurizi9          6
30710            500882938  Lantidiplomatic          5
4669    792793865489117184        AnnaP1953          5
5514   1180638921946025985      giobandnere          5
349              140032760   marcellopalmit          5
12746           3327831430        xenonian1          5